In [13]:
import pandas as pd
import psycopg2

# Establish connection
conn = psycopg2.connect(
    dbname="neondb",
    user="neondb_owner",
    password="npg_CeS9fJg2azZD",
    host="ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech",
    port="5432",
    sslmode="require"
)

# Create cursor
cur = conn.cursor()

# Define query
query = "SELECT COUNT(DISTINCT dbn) AS number_of_schools, borough FROM nyc_schools.high_school_directory GROUP BY borough;"

# Execute query
cur.execute(query)

# Fetch results
results = cur.fetchall()

# Print results
for row in results:
    print(row)

# Close cursor and connection
cur.close()
conn.close()

(118, 'Bronx')
(121, 'Brooklyn')
(106, 'Manhattan')
(80, 'Queens')
(10, 'Staten Island')

In [ ]:
import pandas as pd
import psycopg2

# Establish connection
conn = psycopg2.connect(
    dbname="neondb",
    user="neondb_owner",
    password="npg_CeS9fJg2azZD",
    host="ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech",
    port="5432",
    sslmode="require"
)

# Create cursor
cur = conn.cursor()

# Define query using triple quotes for multi-line string
query = """
SELECT AVG(ell_percent) AS avg_ell_percent, hsd.borough
FROM nyc_schools.high_school_directory hsd
INNER JOIN nyc_schools.school_demographics sd ON hsd.dbn = sd.dbn
GROUP BY hsd.borough;
"""

# Execute query
cur.execute(query)

# Fetch results
results = cur.fetchall()

# Print results
for row in results:
    print(row)

# Close cursor and connection
cur.close()
conn.close()

(7.572500026039779, 'Manhattan')

In [ ]:

import pandas as pd
import psycopg2

# Establish connection
conn = psycopg2.connect(
    dbname="neondb",
    user="neondb_owner",
    password="npg_CeS9fJg2azZD",
    host="ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech",
    port="5432",
    sslmode="require"
)

# Create cursor
cur = conn.cursor()

# Define query using triple quotes for multi-line string
query = """
SELECT school_name, hsd.borough, sd.sped_percent
FROM 
    nyc_schools.high_school_directory hsd
INNER JOIN 
    nyc_schools.school_demographics sd
ON 
    hsd.dbn = sd.dbn
    order by sped_percent desc 
    limit 3;
"""

# Execute query
cur.execute(query)

# Fetch results
results = cur.fetchall()

# Print results
for row in results:
    print(row)

# Close cursor and connection
cur.close()
conn.close()

('East Side Community School', 'Manhattan', 28.8)
('East Side Community School', 'Manhattan', 27.7)
('East Side Community School', 'Manhattan', 26.7)

In [ ]:
# Comments: I used basically same approach for all three tasks. Installed librarues pandas and psycopg2.
# Connected with database using credentials provided
# Used cursor command of Python for SQL queries execution.
# Used  fetch for results retrieval and printing them