In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

#Establishing the connection

In [2]:
conn = psycopg2.connect(
    dbname="neondb",
    user="neondb_owner",
    password="npg_CeS9fJg2azZD",
    host="ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech",
    port="5432",
    sslmode="require"
)

# Pandas-kompatible Engine (bequem f√ºr read_sql)
engine = create_engine(
    "postgresql+psycopg2://neondb_owner:npg_CeS9fJg2azZD@ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech:5432/neondb"
)

#Checking out the tables contained in the database

In [3]:
query_tables = """
SELECT table_schema, table_name
FROM information_schema.tables
WHERE table_schema = 'nyc_schools'
ORDER BY table_name;
"""
df_tables = pd.read_sql(query_tables, engine)
df_tables

   table_schema                           table_name
0   nyc_schools                anastasia_sat_results
1   nyc_schools                  cleaned_sat_results
2   nyc_schools              darel-kigha_sat_results
3   nyc_schools             hakim-murphy_sat_results
4   nyc_schools           heike_reichert_sat_results
5   nyc_schools                high_school_directory
6   nyc_schools            lars_petschke_sat_results
7   nyc_schools  marianna_gokova_cleaned_sat_results
8   nyc_schools                  meifang_sat_results
9   nyc_schools                              mytable
10  nyc_schools                   sat_scores_cleaned
11  nyc_schools                  school_demographics
12  nyc_schools                 school_safety_report
13  nyc_schools        serhii_sotnichenko_sat_scores
14  nyc_schools             thofa_tazkia_sat_results
15  nyc_schools                  vanessa_sat_results
16  nyc_schools            yana_yelnikova_sat_scores

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
test_query = "SELECT * FROM nyc_schools.high_school_directory LIMIT 5;"
pd.read_sql(test_query, engine)

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,start_time,end_time,priority01,priority02,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,location,phone_number2,school_email,website,subway,bus,grades2018,finalgrades,total_students,extracurricular_activities,school_sports,attendance_rate,pct_stu_enough_variety,pct_stu_safe,school_accessibility_description,directions1,requirement1,requirement2,requirement3,requirement4,requirement5,program1,code1,interest1,method1,seats9ge1,grade9gefilledflag1,grade9geapplicants1,seats9swd1,grade9swdfilledflag1,grade9swdapplicants1,campus_name,building_borough,building_location,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta,zip_codes,community_districts,borough_boundaries,city_council_districts,police_precincts,primary_address_line_1,city,state_code,postcode,school_type,overview_paragraph,program_highlights,language_classes,advancedplacement_courses,online_ap_courses,online_language_courses,psal_sports_boys,psal_sports_girls,psal_sports_coed,partner_cbo,partner_hospital,partner_highered,partner_cultural,partner_nonprofit,partner_corporate,partner_financial,partner_other,addtl_info1,addtl_info2,se_services,ell_programs,number_programs,Location 1,Community Board,Council District,Census Tract,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,27Q260,Frederick Douglass Academy VI High School,Queens,Q465,718-471-2154,718-471-2890,9.0,12,None,None,7:45 AM,2:05 PM,Priority to Queens students or residents who a...,Then to New York City residents who attend an ...,Then to Queens students or residents,Then to New York City residents,,,,,,,None,None,None,http://schools.nyc.gov/schoolportals/27/Q260,A to Beach 25th St-Wavecrest,"Q113, Q22",None,None,412,"After-school Program, Book, Writing, Homework ...","Step Team, Modern Dance, Hip Hop Dance",None,None,None,Not Functionally Accessible,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,Far Rockaway Educational Campus,None,None,None,None,None,None,None,4300730.0,4.157360e+09,Far Rockaway-Bayswater ...,None,None,None,None,None,8-21 Bay 25 Street,Far Rockaway,NY,11691,,Frederick Douglass Academy (FDA) VI High Schoo...,"Advisory, Graphic Arts Design, Teaching Intern...",Spanish,"Calculus AB, English Language and Composition,...","Biology, Physics B","French, Spanish","Basketball, Cross Country, Indoor Track, Outdo...","Basketball, Cross Country, Indoor Track, Outdo...",,,"Jamaica Hospital Medical Center, Peninsula Hos...","York College, Brooklyn College, St. John's Col...",,"Queens District Attorney, Sports and Arts Foun...","Replications, Inc.",Citibank,New York Road Runners Foundation (NYRRF),"Uniform Required: plain white collared shirt, ...","Extended Day Program, Student Summer Orientati...",This school will provide students with disabil...,ESL,1,"{'latitude': '40.601989336', 'longitude': '-73...",14,31,100802,20529,51,3,47,59
1,21K559,Life Academy High School for Film and Music,Brooklyn,K400,718-333-7750,718-333-7775,9.0,12,None,None,8:15 AM,3:00 PM,Priority to New York City residents who attend...,Then to New York City residents,,,,,,,,,None,None,None,http://schools.nyc.gov/schoolportals/21/K559,D to 25th Ave ; N to Ave U ; N to Gravesend - ...,"B1, B3, B4, B6, B64, B82",None,None,260,"Film, Music, Talent Show, Holiday Concert, Stu...",,None,None,None,Functionally Accessible,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,Lafayette Educational Campus,None,None,None,None,None,None,None,3186454.0,3.068830e+09,Gravesend ...,None,None,None,None,None,2630 Benson Avenue,Brooklyn,NY,11214,,At Life Academy High School for Film and Music...,"College Now, iLEARN courses, Art and Film Prod...",Spanish,,"Biology, English Literature and Composition, E...",,"Basketball, Bowling, Indoor Track, Soccer, Sof...","Basketball, Bowling, Indoor Track, Soccer, Sof...",Cricket,Coney Island Generation Gap,,"City Tech, Kingsborough Early College Secondar...","Museum of the Moving Image, New York Public Li...",Institute for Student Achievement,"Film Life, Inc., SONY Wonder Tech",,,Our school requires completion of a Common Cor...,,This school will provide students with disabil...,ESL,1,"{'latitude': '40.593593811', 'longitude': '-73...",13,47,306,17616,21,2,45,35
2,16K393,Frederick Douglass Academy IV Secondary School,Brooklyn,K026,718-574-2820,718-574-2821,9.0,12,None,None,8:00 AM,2:20 PM,Priority to continuing 8th graders,Then to Brooklyn students or residents who att...,Then to New York City residents who attend an ...,Then to Brooklyn students or residents,Then to New York City residents,,,,,,None,None,None,http://schools.nyc.gov/schoolportals/16/K393,"J to Kosciusko St ; M, Z to Myrtle Ave","B15, B38, B46, B47, B52, B54, Q24",None,None,155,"After-school and Saturday Programs, Art Studio...",Basketball Team,None,None,None,Not Functionally Accessible,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,N/A,None,None,None,None,None,None,None,3393805.0,3.016160e+09,Stuyvesant Heights ...,None,None,None,None,None,1014 Lafayette Avenue,Brooklyn,NY,11221,,The Frederick Douglass Academy IV (FDA IV) Sec...,"College Now with Medgar Evers College, Fresh P...","French, Spanish","English Language and Composition, United State...",French Language and Culture,,,,,Achieving Change in our Neighborhood (Teen ACT...,,Medgar Evers College,Noel Pointer School of Music,"Hip-Hop 4 Life, Urban Arts, and St. Nicks Alli...",,,,"Dress Code Required: solid white shirt/blouse,...","Student Summer Orientation, Weekend Program of...",This school will provide students with disabil...,ESL,1,"{'latitude': '40.692133704', 'longitude': '-73...",3,36,291,18181,69,2,49,52
3,08X305,Pablo Neruda Academy,Bronx,X450,718-824-1682,718-824-1663,9.0,12,None,None,8:00 AM,3:50 PM,Priority to Bronx students or residents who at...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,,,,,,,None,None,None,www.pablonerudaacademy.org,N/A,"Bx22, Bx27, Bx36, Bx39, Bx5",None,None,335,"Youth Court, Student Government, Youth Service...","Baseball, Basketball, Flag Football, Soccer, S...",None,None,None,Functionally Accessible,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,Adlai E. Stevenson Educational Campus,None,None,None,None,None,None,None,2022205.0,2.036040e+09,Soundview-Castle Hill-Clason Point-Harding Par...,None,None,None,None,None,1980 Lafayette Avenue,Bronx,NY,10473,,"Our mission is to engage, inspire, and educate...","Advanced Placement courses, Electives courses ...",Spanish,"Art History, English Language and Composition,...",,Spanish,"Basketball, Outdoor Track, Softball, Tennis, V...","Basketball, Outdoor Track, Softball, Tennis, V...",,,"Soundview Health Center, Bronx Lebanon Hospita...","Hostos Community College, Monroe College, Lehm...","Chilean Consulate, Materials for the Arts","Network for Teaching Entrepreneurship (NFTE), ...",,,iLearnNYC,All students are individually programmed (base...,Extended Day Program,This school will provide students with disabil...,ESL,1,"{'latitude': '40.822303765', 'longitude': '-73...",9,18,16,11611,58,5,31,26
4,03M485,Fiorello H. LaGuardia High School of Music & A...,Manhattan,M485,212-496-0700,212-724-5748,9.0,12,None,None,8:00 AM,4:00 PM,Open to New York City residents,Admission is based on the outcome of a competi...,Students must audition for each program (studi...,Students must be residents of New York City at...,,,,,,,None,None,None,www.laguardiahs.org,"1 to 66th St - Lincoln Center ; 2, 3 to 72nd S...","M10, M104, M11, M20, M31, M5, M57, M66, M7, M72",None,None,2730,"Amnesty International, Anime, Annual Musical, ...",,None,None,None,Functionally Accessible,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,N/A,None,None,None,None,None,None,None,1030341.0,1.011560e+09,Lincoln Square ...,None,None,None,None,None,100 Amsterdam Avenue,New York,NY,10023,Specialized School,We enjoy an international reputation as the fi...,Students have a daily program that includes bo...,"French, Italian, Japanese, Spanish","Art History, Biology, Calculus AB, Calculus BC...",,Spanish,"Basketball, Bowling, Cross Country, Fencing, G...","Basketball, Bowling, Cross Country, Fencing, G...",,Lincoln Center for the Performing Arts,Mount Sinai Medical Center,The Cooper Union for the Advancement of Scienc...,"Lincoln Center for the Performing Arts, Americ...","Junior Achievement, Red Cross, United Nations ...","Sony Music, Warner Music Group, Capital Cities...",,,Chancellor‚Äôs Arts Endorsed Diploma,,This school will provide students with disabil...,ESL,6,"{'latitude': '40.773670507', 'longitude': '-73...",7,6,151,12420,20,4,19,12

In [6]:
test_query2 = "SELECT * FROM nyc_schools.school_demographics LIMIT 5;"
pd.read_sql(test_query2, engine)

,dbn,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,grade3,grade4,grade5,grade6,grade7,grade8,grade9,grade10,grade11,grade12,ell_num,ell_percent,sped_num,sped_percent,ctt_num,selfcontained_num,asian_num,asian_per,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,38,52,29,38,,,,,,,36,12.8,57,20.3,25,9,10,3.6,74,26.3,189,67.3,5,1.8,158,56.2,123,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,34,42,46,,,,,,,,38,15.6,55,22.6,19,15,18,7.4,68,28.0,153,63.0,4,1.6,140,57.6,103,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,38,47,40,,,,,,,,52,19.9,60,23.0,20,14,16,6.1,77,29.5,157,60.2,7,2.7,143,54.8,118,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,34,39,49,,,,,,,,48,19.0,62,24.6,21,17,16,6.3,75,29.8,149,59.1,7,2.8,149,59.1,103,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,30,24,38,,,,,,,,40,19.2,46,22.1,14,14,16,7.7,67,32.2,118,56.7,6,2.9,124,59.6,84,40.4

In [7]:
test_query3 = "SELECT * FROM nyc_schools.school_safety_report LIMIT 5;"
pd.read_sql(test_query3, engine)

,school_year,building_code,dbn,location_name,location_code,address,borough,geographical_district_code,register,building_name,num_schools,schools_in_building,major_n,oth_n,nocrim_n,prop_n,vio_n,engroupa,rangea,avgofmajor_n,avgofoth_n,avgofnocrim_n,avgofprop_n,avgofvio_n,borough_name,postcode,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta,_schools
0,2015-16,K006,17K006,P.S. 006,K006,43 SNYDER AVENUE,K,17.0,712,,None,P.S. 006,0.0,1.0,2.0,1.0,0.0,4C,501-750,0.28,1.11,1.74,0.75,0.53,BROOKLYN,11226.0,40.648590,-73.957138,14.0,40.0,794.0,3117230.0,3.051030e+09,Erasmus ...,1
1,2015-16,K005,16K005,P.S. 005 Dr. Ronald Mcnair,K005,820 HANCOCK STREET,K,16.0,231,,None,P.S. 005 Dr. Ronald Mcnair,0.0,0.0,2.0,0.0,0.0,2C,1-250,0.24,0.71,1.71,0.51,0.32,BROOKLYN,11233.0,40.685695,-73.922463,3.0,41.0,377.0,3039906.0,3.014900e+09,Stuyvesant Heights ...,1
2,2015-16,K003,13K003,P.S. 003 The Bedford Village,K003,50 JEFFERSON AVENUE,K,13.0,450,,None,P.S. 003 The Bedford Village,0.0,0.0,2.0,0.0,0.0,3C,251-500,0.27,0.90,1.67,0.63,0.44,BROOKLYN,11216.0,40.682663,-73.955338,3.0,36.0,227.0,3057406.0,3.019980e+09,Clinton Hill ...,1
3,2015-16,K002,75K141,P.S. K141,K141,655 PARKSIDE AVENUE,K,17.0,374,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,None,Parkside Preparatory Academy | P.S. K141 |Exp...,NaN,NaN,NaN,NaN,NaN,3C,251-500,NaN,NaN,NaN,NaN,NaN,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802.0,3378201.0,3.050500e+09,Prospect Lefferts Gardens-Wingate ...,3
4,2015-16,K002,84K704,EXPLORE CHARTER SCHOOL(BS),K704,655 PARKSIDE AVENUE,K,17.0,529,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,None,Parkside Preparatory Academy | P.S. K141 |Exp...,NaN,NaN,NaN,NaN,NaN,4C,501-750,NaN,NaN,NaN,NaN,NaN,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802.0,3378201.0,3.050500e+09,Prospect Lefferts Gardens-Wingate ...,3

#üßÆ School Distribution

How many schools are there in each borough?

In [8]:
query_school_count = """
SELECT borough,
       COUNT(DISTINCT school_name) AS unique_school_count
FROM nyc_schools.high_school_directory
WHERE borough IS NOT NULL
GROUP BY borough
ORDER BY unique_school_count DESC, borough;
"""
df_school_count = pd.read_sql(query_school_count, engine)
print(df_school_count)
#this query extracts borough and the count of unique school names from the high_school_directory grouped by borough
#the schools get counted accordingly to the borough in the row resulting in a total N

         borough  unique_school_count
0       Brooklyn                  121
1          Bronx                  118
2      Manhattan                  106
3         Queens                   80
4  Staten Island                   10

In [11]:
query_school_count = """
SELECT
  h.borough,
  COUNT(DISTINCT h.dbn) AS n_schools
FROM nyc_schools.high_school_directory AS h
WHERE h.borough IS NOT NULL
GROUP BY h.borough
ORDER BY n_schools DESC, h.borough;
"""
df_school_count = pd.read_sql(query_school_count, engine)
print(df_school_count)

         borough  n_schools
0       Brooklyn        121
1          Bronx        118
2      Manhattan        106
3         Queens         80
4  Staten Island         10

Most schools are located in Brooklyn(121) closely followed by Bronx(118). Staten Island has only 10.

#üéì Language Learners

What is the average % of English Language Learners (ELL) per borough?

In [9]:
query_ell_avg_borough = """
SELECT h.borough,
       ROUND(AVG(d.ell_percent)::numeric, 2) AS avg_ell_percent
FROM nyc_schools.school_demographics d
JOIN nyc_schools.high_school_directory h
  ON d.dbn = h.dbn
WHERE d.ell_percent IS NOT NULL
GROUP BY h.borough
ORDER BY h.borough;
"""
df_ell = pd.read_sql(query_ell_avg_borough, engine)
print(df_ell)
#here borough and the average ell_percent get extracted from two tables
#the tables get joined on dbn to match entrys

     borough  avg_ell_percent
0  Manhattan             7.57

Only Manhattan has data for english learning students!

#üîóSchool supporting special needs

Using the data from the school demographics and high school directory, write a query to find the top 3 schools in each borough with the highest percentage of special education students (sped_percent)

In [10]:
query_top_sped = """
SELECT dir.borough,
       dir.school_name,
       MAX(demo.sped_percent) AS sped_percent
FROM nyc_schools.high_school_directory dir
JOIN nyc_schools.school_demographics demo
  ON dir.dbn = demo.dbn
WHERE demo.sped_percent IS NOT NULL
GROUP BY dir.borough, dir.school_name
ORDER BY MAX(demo.sped_percent) DESC
LIMIT 3;
"""

df_top_sped = pd.read_sql(query_top_sped, engine)
print(df_top_sped)

#joining directory and demographics table to get the top 3 schools with highest percentage of speced students

     borough                                    school_name  sped_percent
0  Manhattan                     East Side Community School          28.8
1  Manhattan                        Marta Valle High School          25.9
2  Manhattan  Henry Street School for International Studies          25.1

In [16]:
query_top3_sped_per_borough = """
WITH ranked AS (
  SELECT
    h.borough,
    h.school_name,
    h.dbn,
    d.sped_percent,
    ROW_NUMBER() OVER (
      PARTITION BY h.borough
      ORDER BY d.sped_percent DESC, h.school_name
    ) AS rn
  FROM nyc_schools.school_demographics d
  JOIN nyc_schools.high_school_directory h
    ON d.dbn = h.dbn
  WHERE d.sped_percent IS NOT NULL
    AND h.borough IS NOT NULL
)
SELECT borough, school_name, dbn, sped_percent
FROM ranked
WHERE rn <= 3
ORDER BY borough, rn;
"""

df_top_sped = pd.read_sql(query_top3_sped_per_borough, engine)
print(df_top_sped)

     borough                 school_name     dbn  sped_percent
0  Manhattan  East Side Community School  01M450          28.8
1  Manhattan  East Side Community School  01M450          27.7
2  Manhattan  East Side Community School  01M450          26.7

Only Manhattan has Data available for speced students!