Importing Librairies

In [14]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings("ignore")
import numpy as np

##Psycopg2 connector

In [2]:
# SQLAlchemy connection string format:
# postgresql+psycopg2://user:password@host:port/dbname

DATABASE_URL = (
    "postgresql+psycopg2://neondb_owner:npg_CeS9fJg2azZD"
    "@ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech:5432/neondb"
    "?sslmode=require"
)

# Create engine and establish connection
engine = create_engine(DATABASE_URL)

Importing Data

In [4]:
import pandas as pd
df=pd.read_csv('sat-results.csv')
df.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,SAT Critical Readng Avg. Score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,355,218160,x345,78%,2.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,383,268547,x234,NaN,3.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,377,236446,x123,NaN,3.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,414,427826,x123,92%,4.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,390,672714,x123,92%,2.0

# Quick look at the data structure

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   DBN                              493 non-null    object
 1   SCHOOL NAME                      493 non-null    object
 2   Num of SAT Test Takers           493 non-null    object
 3   SAT Critical Reading Avg. Score  493 non-null    object
 4   SAT Math Avg. Score              493 non-null    object
 5   SAT Writing Avg. Score           493 non-null    object
 6   SAT Critical Readng Avg. Score   493 non-null    object
 7   internal_school_id               493 non-null    int64
 8   contact_extension                388 non-null    object
 9   pct_students_tested              376 non-null    object
 10  academic_tier_rating             402 non-null    float64
dtypes: float64(1), int64(1), object(9)
memory usage: 42.5+ KB

In [6]:
df.describe()

       internal_school_id  academic_tier_rating
count          493.000000            402.000000
mean        562172.943205              2.564677
std         262138.627055              1.126443
min         101855.000000              1.000000
25%         332013.000000              2.000000
50%         587220.000000              3.000000
75%         782993.000000              4.000000
max         999398.000000              4.000000

In [7]:
df.duplicated().sum()

np.int64(15)

Cleaning and Preprocessing

In [8]:
# Drop exact duplicates
new_df = df.drop(columns=['SAT Critical Readng Avg. Score'])

In [9]:
# Handle missing values: example fill or drop
new_df = new_df.dropna(subset=['SAT Critical Reading Avg. Score', 'SAT Math Avg. Score', 'SAT Writing Avg. Score'])

In [13]:
# Convert numeric columns properly, replacing non-numeric with NaN
# Convert numeric columns, replacing non-numeric with NaN
numeric_cols = ['Num of SAT Test Takers', 'SAT Critical Reading Avg. Score', 'SAT Math Avg. Score', 'SAT Writing Avg. Score', 'SAT Critical Readng Avg. Score']
for col in numeric_cols:
    if col in new_df.columns:
        new_df[col] = pd.to_numeric(df[col], errors='coerce')

In [15]:
# Validate score ranges (200â€“800)
score_cols = [col for col in numeric_cols if col != 'Num of SAT Test Takers']
for col in score_cols:
    if col in new_df.columns:
        new_df.loc[(new_df[col] < 200) | (new_df[col] > 800), col] = np.nan

In [16]:
# Standardize column names (lowercase, underscores)
new_df.columns = [col.lower().replace(' ', '_').replace('.', '') for col in new_df.columns]

In [26]:


# Clean percentage values (remove % sign and convert to float)
# The column is already numeric, so we can directly divide by 100 and handle NaNs
new_df['pct_students_tested'] = (
    new_df['pct_students_tested']
    .div(100)  # Convert to decimal
    .replace(0, np.nan)  # In case we got 0 from invalid %
)

In [25]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dbn                             493 non-null    object
 1   school_name                     493 non-null    object
 2   num_of_sat_test_takers          435 non-null    float64
 3   sat_critical_reading_avg_score  435 non-null    float64
 4   sat_math_avg_score              430 non-null    float64
 5   sat_writing_avg_score           435 non-null    float64
 6   internal_school_id              493 non-null    int64
 7   contact_extension               388 non-null    object
 8   pct_students_tested             376 non-null    float64
 9   academic_tier_rating            402 non-null    float64
 10  sat_critical_readng_avg_score   435 non-null    float64
dtypes: float64(7), int64(1), object(3)
memory usage: 42.5+ KB

In [ ]:
# Standardize missing value representations
new_df.replace(['N/A', 'NaN', ''], pd.NA, inplace=True)

 Database Integration

In [ ]:
# Establish database connection
DATABASE_URL = (
    "postgresql+psycopg2://neondb_owner:npg_CeS9fJg2azZD"
    "@ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech:5432/neondb"
    "?sslmode=require"
)

engine = create_engine(DATABASE_URL)

In [ ]:
# Write to database
new_df.to_sql(
    name='Audrey_sat_results',
    con=engine,
    schema='nyc_schools',
    if_exists='replace',
    index=False
)

493

In [27]:
new_df.head()

,dbn,school_name,num_of_sat_test_takers,sat_critical_reading_avg_score,sat_math_avg_score,sat_writing_avg_score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating,sat_critical_readng_avg_score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29.0,355.0,404.0,363.0,218160,x345,0.78,2.0,355.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91.0,383.0,423.0,366.0,268547,x234,NaN,3.0,383.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70.0,377.0,402.0,370.0,236446,x123,NaN,3.0,377.0
3,01M458,FORSYTH SATELLITE ACADEMY,7.0,414.0,401.0,359.0,427826,x123,0.92,4.0,414.0
4,01M509,MARTA VALLE HIGH SCHOOL,44.0,390.0,433.0,384.0,672714,x123,0.92,2.0,390.0