In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\levon\Desktop\Webeet\Day-4\sat-results.csv")
pd.set_option('display.max_columns', None)
df.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,SAT Critical Readng Avg. Score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,355,218160,x345,78%,2.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,383,268547,x234,NaN,3.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,377,236446,x123,NaN,3.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,414,427826,x123,92%,4.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,390,672714,x123,92%,2.0

In [3]:
# Clean column names
df.columns = (
    df.columns
    .str.lower()
    .str.replace(' ', '_')
    .str.replace('[^a-z0-9_]', '', regex=True)
)
df.columns

Index(['dbn', 'school_name', 'num_of_sat_test_takers',
       'sat_critical_reading_avg_score', 'sat_math_avg_score',
       'sat_writing_avg_score', 'sat_critical_readng_avg_score',
       'internal_school_id', 'contact_extension', 'pct_students_tested',
       'academic_tier_rating'],
      dtype='object')

In [21]:
#Drop trashy useless columns
df.drop(columns= ['internal_school_id', 'contact_extension', 'sat_critical_readng_avg_score'], inplace = True)

# Define columns to convert to numeric
change_type = [
    'num_of_sat_test_takers',
    'sat_critical_reading_avg_score',
    'sat_math_avg_score',
    'sat_writing_avg_score'
]

# Convert to numeric first, which will convert non-numeric values to NaN
for col in change_type:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Then convert to Int64 which can handle NaN values
df[change_type] = df[change_type].astype('Int64')

# Convert percent from str to decimal
df['pct_students_tested'] = (df['pct_students_tested'] .str.rstrip('%') .astype(float) .div(100))

# Display all rows
pd.set_option('display.max_rows', None)
df.head()

KeyError: "['internal_school_id', 'contact_extension', 'sat_critical_readng_avg_score'] not found in axis"

In [5]:
print(df.dtypes)

dbn                                object
school_name                        object
num_of_sat_test_takers              Int64
sat_critical_reading_avg_score      Int64
sat_math_avg_score                  Int64
sat_writing_avg_score               Int64
pct_students_tested               float64
academic_tier_rating              float64
dtype: object

In [9]:
cols = ['sat_writing_avg_score', 'sat_math_avg_score', 'sat_critical_reading_avg_score']

# Find rows with invalid scores
invalid_mask = (df[cols] < 200) | (df[cols] > 800)

# Show rows where any invalid value occurs
invalid_rows = df[invalid_mask.any(axis=1)]

print("Rows with invalid SAT scores:")
print(invalid_rows[['dbn', 'school_name'] + cols])

Rows with invalid SAT scores:
        dbn                                        school_name  \
80   03M415  WADLEIGH SECONDARY SCHOOL FOR THE PERFORMING &...
181  10X225             THEATRE ARTS PRODUCTION COMPANY SCHOOL
288  15K656                   BROOKLYN HIGH SCHOOL OF THE ARTS
422  28Q470                                JAMAICA HIGH SCHOOL
434  29Q283  PREPARATORY ACADEMY FOR WRITERS: A COLLEGE BOA...

     sat_writing_avg_score  sat_math_avg_score  sat_critical_reading_avg_score
80                     370                 850                             371
181                    394                 -10                             405
288                    411                 999                             426
422                    353                 999                             342
434                    363                1100                             370

In [13]:
# List of dbn with shity values 
dbn_list = ['03M415', '10X225', '15K656', '28Q470', '29Q283']

# Filter the DataFrame
filtered_df = df[df['dbn'].isin(dbn_list)]
print(filtered_df)

        dbn                                        school_name  \
80   03M415  WADLEIGH SECONDARY SCHOOL FOR THE PERFORMING &...
181  10X225             THEATRE ARTS PRODUCTION COMPANY SCHOOL
288  15K656                   BROOKLYN HIGH SCHOOL OF THE ARTS
422  28Q470                                JAMAICA HIGH SCHOOL
434  29Q283  PREPARATORY ACADEMY FOR WRITERS: A COLLEGE BOA...

     num_of_sat_test_takers  sat_critical_reading_avg_score  \
80                       32                             371
181                      59                             405
288                     141                             426
422                      90                             342
434                      43                             370

     sat_math_avg_score  sat_writing_avg_score  pct_students_tested  \
80                 <NA>                    370                 0.78
181                <NA>                    394                 0.78
288                <NA>                    411                  NaN
422                <NA>                    353                 0.92
434                <NA>                    363                 0.85

     academic_tier_rating
80                    4.0
181                   NaN
288                   NaN
422                   3.0
434                   3.0

In [20]:
# Replace random non-valid scores with NA
for col in cols:
    df.loc[(df[col] < 200) | (df[col] > 800), col] = pd.NA

# # Drop rows less tahn 2 valid values 
cols_to_check = [
    'num_of_sat_test_takers',
    'sat_critical_reading_avg_score',
    'sat_math_avg_score',
    'sat_writing_avg_score'
]
df = df[df[cols_to_check].isnull().sum(axis=1) <= 2]
df.head()

,dbn,school_name,num_of_sat_test_takers,sat_critical_reading_avg_score,sat_math_avg_score,sat_writing_avg_score,pct_students_tested,academic_tier_rating
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,0.78,2.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,NaN,3.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,NaN,3.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,0.92,4.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,0.92,2.0

In [29]:
# Download my data frame as csv
df.to_csv(r'C:\Users\levon\Desktop\Webeet\Day-4\cleaned_sat_results.csv', index=False)

In [19]:
# Identify rows where any column is missing
mask_unusable = df.isnull().any(axis=1)

# Count distinct DBNs with unusable data
distinct_dbn_unusable = df.loc[mask_unusable, 'dbn'].nunique()

# Total distinct DBNs in dataset
total_distinct_dbn = df['dbn'].nunique()

# Percent of distinct DBNs with unusable data
percent_dbn_unusable = (distinct_dbn_unusable / total_distinct_dbn) * 100

print(f"Distinct DBNs with missing data (any column): {distinct_dbn_unusable}")
print(f"Total distinct DBNs: {total_distinct_dbn}")
print(f"Percentage of distinct DBNs with missing data: {percent_dbn_unusable:.2f}%")

# Optionally, percentage of total rows unusable (any missing value)
percent_rows_unusable = mask_unusable.mean() * 100
print(f"Percentage of total rows with missing data: {percent_rows_unusable:.2f}%")

Distinct DBNs with missing data (any column): 155
Total distinct DBNs: 421
Percentage of distinct DBNs with missing data: 36.82%
Percentage of total rows with missing data: 36.78%

In [22]:
pip install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in c:\users\levon\anaconda3\lib\site-packages (2.0.39)
Collecting psycopg2
  Downloading psycopg2-2.9.10-cp313-cp313-win_amd64.whl.metadata (4.8 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\levon\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\levon\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading psycopg2-2.9.10-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   -------------------- ------------------- 1.3/2.6 MB 9.1 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 9.9 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [25]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://neondb_owner:npg_CeS9fJg2azZD""@ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech:5432/neondb""?sslmode=require")
df.to_sql('Levon_cleaned_sat_scores', engine, index=False, if_exists='append', schema='nyc_schools')

435