In [27]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
df_csv_src = pd.read_csv('sat-results.csv')
df_csv_src.head()
df_csv_src.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   DBN                              493 non-null    object
 1   SCHOOL NAME                      493 non-null    object
 2   Num of SAT Test Takers           493 non-null    object
 3   SAT Critical Reading Avg. Score  493 non-null    object
 4   SAT Math Avg. Score              493 non-null    object
 5   SAT Writing Avg. Score           493 non-null    object
 6   SAT Critical Readng Avg. Score   493 non-null    object
 7   internal_school_id               493 non-null    int64
 8   contact_extension                388 non-null    object
 9   pct_students_tested              376 non-null    object
 10  academic_tier_rating             402 non-null    float64
dtypes: float64(1), int64(1), object(9)
memory usage: 42.5+ KB

normalize column names (lowercase, replace: ' ', '.')

In [29]:
df_csv_src.columns = df_csv_src.columns.str.lower()
df_csv_src.columns = df_csv_src.columns.str.replace(" ", "_")
df_csv_src.columns = df_csv_src.columns.str.replace(r'[^a-z0-9_]', '', regex=True)
df_csv_src.columns

Index(['dbn', 'school_name', 'num_of_sat_test_takers',
       'sat_critical_reading_avg_score', 'sat_math_avg_score',
       'sat_writing_avg_score', 'sat_critical_readng_avg_score',
       'internal_school_id', 'contact_extension', 'pct_students_tested',
       'academic_tier_rating'],
      dtype='object')

dupe check + dupe deletion

In [30]:
df_csv_src.duplicated().sum()
df_deduped = df_csv_src.drop_duplicates()
df_deduped.count()

dbn                               478
school_name                       478
num_of_sat_test_takers            478
sat_critical_reading_avg_score    478
sat_math_avg_score                478
sat_writing_avg_score             478
sat_critical_readng_avg_score     478
internal_school_id                478
contact_extension                 378
pct_students_tested               363
academic_tier_rating              392
dtype: int64

row_count: 493 > 478
try to automatically convert datatype

In [31]:
df_test = df_deduped.convert_dtypes()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 478 entries, 0 to 477
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dbn                             478 non-null    string
 1   school_name                     478 non-null    string
 2   num_of_sat_test_takers          478 non-null    string
 3   sat_critical_reading_avg_score  478 non-null    string
 4   sat_math_avg_score              478 non-null    string
 5   sat_writing_avg_score           478 non-null    string
 6   sat_critical_readng_avg_score   478 non-null    string
 7   internal_school_id              478 non-null    Int64
 8   contact_extension               378 non-null    string
 9   pct_students_tested             363 non-null    string
 10  academic_tier_rating            392 non-null    Int64
dtypes: Int64(2), string(9)
memory usage: 45.7 KB

Result: object dtypes got converted to string.

Assessment:
- dbn: okay, since there's alway a char in the middle
- school_name: okay
- num_of_sat_test_takers: num expected
- sat_critical_reading_avg_score: num expected
- sat_math_avg_score: num expected
- sat_writing_avg_score: num expected
- sat_critical_readng_avg_score: same as 'sat_critical_reading_avg_score'? if yes, drop
- internal_school_id: okay
- contact_extension: num expected
- pct_students_tested: num expexted
- academic_tier_rating: okay

Check why sat related columns are interpreted as strings

In [32]:
df_test.groupby('sat_critical_reading_avg_score').count().sort_values(by=['sat_critical_reading_avg_score'], ascending=False)

,dbn,school_name,num_of_sat_test_takers,sat_math_avg_score,sat_writing_avg_score,sat_critical_readng_avg_score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
sat_critical_reading_avg_score,,,,,,,,,,
s,57,57,57,57,57,57,57,44,46,40
679,1,1,1,1,1,1,1,0,0,1
636,1,1,1,1,1,1,1,1,0,1
635,1,1,1,1,1,1,1,1,0,1
632,1,1,1,1,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
305,1,1,1,1,1,1,1,0,0,0
304,2,2,2,2,2,2,2,2,2,2
300,1,1,1,1,1,1,1,1,1,0
287,1,1,1,1,1,1,1,1,1,0
279,1,1,1,1,1,1,1,1,1,1

In [33]:
df_test.query('num_of_sat_test_takers == "s" and sat_critical_reading_avg_score == "s" and sat_math_avg_score == "s" and sat_writing_avg_score == "s"')
#.shape

,dbn,school_name,num_of_sat_test_takers,sat_critical_reading_avg_score,sat_math_avg_score,sat_writing_avg_score,sat_critical_readng_avg_score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
22,02M392,MANHATTAN BUSINESS ACADEMY,s,s,s,s,s,501072,<NA>,85%,<NA>
23,02M393,BUSINESS OF SPORTS SCHOOL,s,s,s,s,s,143204,x234,<NA>,2
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,s,s,s,s,371710,x123,85%,<NA>
38,02M427,MANHATTAN ACADEMY FOR ARTS & LANGUAGE,s,s,s,s,s,521180,x234,<NA>,4
40,02M437,HUDSON HIGH SCHOOL OF LEARNING TECHNOLOGIES,s,s,s,s,s,254767,x345,<NA>,2
41,02M438,INTERNATIONAL HIGH SCHOOL AT UNION SQUARE,s,s,s,s,s,259655,x123,78%,1
47,02M473,WASHINGTON IRVING YABC,s,s,s,s,s,563977,x345,92%,3
77,03M402,THE URBAN ASSEMBLY SCHOOL FOR GREEN CAREERS,s,s,s,s,s,699396,x345,78%,3
78,03M403,THE GLOBAL LEARNING COLLABORATIVE,s,s,s,s,s,453954,x345,78%,1
81,03M417,FRANK MCCOURT HIGH SCHOOL,s,s,s,s,s,355018,x345,85%,4
89,03M577,YOUNG ADULT BOROUGH CENTER AT LOUIS D. BRANDEI...,s,s,s,s,s,412494,<NA>,85%,2
100,05M362,"COLUMBIA SECONDARY SCHOOL FOR MATH, SCIENCE, A...",s,s,s,s,s,206377,x234,<NA>,4
111,06M423,HIGH SCHOOL FOR EXCELLENCE AND INNOVATION,s,s,s,s,s,973050,x123,92%,<NA>
122,07X379,JILL CHAIFETZ TRANSFER HIGH SCHOOL,s,s,s,s,s,282379,x345,92%,<NA>
123,07X381,BRONX HAVEN HIGH SCHOOL,s,s,s,s,s,540360,x234,78%,4
136,08X269,BRONX STUDIO SCHOOL FOR WRITERS AND ARTISTS,s,s,s,s,s,720196,x345,92%,<NA>
143,08X367,"ARCHIMEDES ACADEMY FOR MATH, SCIENCE AND TECHN...",s,s,s,s,s,386522,x234,85%,1
144,08X376,"ANTONIA PANTOJA PREPARATORY ACADEMY, A COLLEGE...",s,s,s,s,s,314160,<NA>,<NA>,3
148,08X432,BRONX BRIDGES HIGH SCHOOL,s,s,s,s,s,108789,<NA>,78%,1
150,08X507,STEVENSON YABC,s,s,s,s,s,115369,<NA>,85%,<NA>
153,08X537,BRONX ARENA HIGH SCHOOL,s,s,s,s,s,285492,x234,78%,2
167,09X324,BRONX EARLY COLLEGE ACADEMY FOR TEACHING & LEA...,s,s,s,s,s,120251,x234,85%,3
186,10X319,PROVIDING URBAN LEARNERS SUCCESS IN EDUCATION ...,s,s,s,s,s,172549,x345,92%,<NA>
201,10X478,LEARNING TO WORK GED AT JOHN F. KENNEDY,s,s,s,s,s,405704,x345,85%,<NA>
216,11X417,YOUNG ADULT BOROUGH CNTR CHRISTOPHER COLUMBUS HS,s,s,s,s,s,766286,x123,92%,4
219,11X456,LEARNING TO WORK YABC AT TRUMAN HIGH SCHOOL,s,s,s,s,s,436202,<NA>,<NA>,4
234,12X428,LEARNING TO WORK YABC AT MONROE ACADEMY,s,s,s,s,s,714682,x123,92%,<NA>
236,12X478,THE CINEMA SCHOOL,s,s,s,s,s,153298,x345,85%,<NA>
237,12X479,BRONX CAREER AND COLLEGE PREPARATORY HIGH SCHOOL,s,s,s,s,s,454198,x123,85%,1
254,13K527,URBAN ASSEMBLY INSTITUTE OF MATH AND SCIENCE F...,s,s,s,s,s,993861,x123,78%,2
259,13K616,BROOKLYN HIGH SCHOOL FOR LEADERSHIP AND COMMUN...,s,s,s,s,s,628368,<NA>,85%,<NA>
263,14K322,FOUNDATIONS ACADEMY,s,s,s,s,s,685517,x345,85%,<NA>
277,14K923,AUTOMOTIVE HIGH SCHOOL YABC,s,s,s,s,s,486066,x123,85%,<NA>
286,15K529,WEST BROOKLYN COMMUNITY HIGH SCHOOL,s,s,s,s,s,101855,x123,<NA>,4
289,15K667,SUNSET PARK HIGH SCHOOL,s,s,s,s,s,355095,<NA>,<NA>,<NA>
295,16K688,THE BROOKLYN ACADEMY OF GLOBAL FINANCE,s,s,s,s,s,521978,x345,85%,3
298,17K467,ERASMUS YABC,s,s,s,s,s,703472,<NA>,<NA>,4
315,17K751,ACADEMY FOR HEALTH CAREERS,s,s,s,s,s,197845,x123,78%,1
331,19K420,FRANKLIN K. LANE HIGH SCHOOL,s,s,s,s,s,134918,<NA>,78%,3
332,19K431,THOMAS JEFFERSON YABC,s,s,s,s,s,194950,x345,92%,2
348,20K609,THE URBAN ASSEMBLY SCHOOL FOR CRIMINAL JUSTICE,s,s,s,s,s,263315,x123,78%,<NA>
354,21K412/21K411,ABRAHAM LINCOLN YABC/LEARNING TO WORK GED AT A...,s,s,s,s,s,411797,x123,78%,4
355,21K468,KINGSBOROUGH EARLY COLLEGE SCHOOL,s,s,s,s,s,569504,x345,78%,3
380,24Q457,YOUNG ADULT BOROUGH CENTER AT ARTS AND BUSINES...,s,s,s,s,s,814224,x234,92%,3
388,24Q744,VOYAGES PREPARATORY,s,s,s,s,s,120268,x234,85%,<NA>
416,28Q284,YORK EARLY COLLEGE ACADEMY,s,s,s,s,s,965048,x345,78%,4
418,28Q325,HILLSIDE ARTS & LETTERS ACADEMY,s,s,s,s,s,267544,x345,92%,1
426,28Q686,QUEENS METROPOLITAN HIGH SCHOOL,s,s,s,s,s,973896,<NA>,78%,3
435,29Q326,CAMBRIA HEIGHTS ACADEMY,s,s,s,s,s,666479,x123,78%,<NA>
440,30Q286,"YOUNG WOMEN'S LEADERSHIP SCHOOL, ASTORIA",s,s,s,s,s,336296,<NA>,78%,2
468,75K371,P.S. 371 s LILLIAN L. RASHKIS,s,s,s,s,s,240795,x234,85%,1
469,75M035,P.S. 035,s,s,s,s,s,861847,x123,<NA>,4
470,75Q256,P.S. Q256,s,s,s,s,s,320205,x234,85%,1
472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,s,s,s,s,s,789985,<NA>,78%,1
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s,s,733698,x234,92%,1
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s,s,976034,x345,<NA>,4
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s,s,556924,x123,85%,1

57 rows mainly contain 's', possible stands for 'surpressed'. We can safely drop these rows

In [34]:
df_dropped_s = df_test[df_test['num_of_sat_test_takers'] != 's']

In [35]:
df_dropped_s.shape

(421, 11)

check if columns 'sat_critical_reading_avg_score' and 'sat_critical_readng_avg_score', if yes, then drop the column with typo

In [36]:
df_dropped_s.query('sat_critical_reading_avg_score != sat_critical_readng_avg_score')

Empty DataFrame
Columns: [dbn, school_name, num_of_sat_test_takers, sat_critical_reading_avg_score, sat_math_avg_score, sat_writing_avg_score, sat_critical_readng_avg_score, internal_school_id, contact_extension, pct_students_tested, academic_tier_rating]
Index: []

In [37]:
df_cleaned_stage1 = df_dropped_s.drop(columns='sat_critical_readng_avg_score')
df_cleaned_stage1.columns

Index(['dbn', 'school_name', 'num_of_sat_test_takers',
       'sat_critical_reading_avg_score', 'sat_math_avg_score',
       'sat_writing_avg_score', 'internal_school_id', 'contact_extension',
       'pct_students_tested', 'academic_tier_rating'],
      dtype='object')

Now, we have 421 columns remaining
Let Pandas interpret the datatypes again

In [38]:
df_cleaned_stage2 = df_cleaned_stage1.convert_dtypes()
df_cleaned_stage2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 421 entries, 0 to 477
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dbn                             421 non-null    string
 1   school_name                     421 non-null    string
 2   num_of_sat_test_takers          421 non-null    string
 3   sat_critical_reading_avg_score  421 non-null    string
 4   sat_math_avg_score              421 non-null    string
 5   sat_writing_avg_score           421 non-null    string
 6   internal_school_id              421 non-null    Int64
 7   contact_extension               334 non-null    string
 8   pct_students_tested             317 non-null    string
 9   academic_tier_rating            352 non-null    Int64
dtypes: Int64(2), string(8)
memory usage: 37.0 KB

Since, convert_dtypes did not change anything, let's convert them explicitly

In [39]:
numeric_columns = [
    'num_of_sat_test_takers',
    'sat_critical_reading_avg_score', 
    'sat_math_avg_score',
    'sat_writing_avg_score'
]

# Create a copy and convert numeric columns
df_cleaned_stage2[numeric_columns] = df_cleaned_stage2[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Then let pandas optimize the remaining columns
df_cleaned_stage3 = df_cleaned_stage2.convert_dtypes()

# Check the result
df_cleaned_stage3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 421 entries, 0 to 477
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dbn                             421 non-null    string
 1   school_name                     421 non-null    string
 2   num_of_sat_test_takers          421 non-null    Int64
 3   sat_critical_reading_avg_score  421 non-null    Int64
 4   sat_math_avg_score              421 non-null    Int64
 5   sat_writing_avg_score           421 non-null    Int64
 6   internal_school_id              421 non-null    Int64
 7   contact_extension               334 non-null    string
 8   pct_students_tested             317 non-null    string
 9   academic_tier_rating            352 non-null    Int64
dtypes: Int64(6), string(4)
memory usage: 38.6 KB

In [40]:
df_cleaned_stage3[df_cleaned_stage3['pct_students_tested'].isna()
].head(5)

,dbn,school_name,num_of_sat_test_takers,sat_critical_reading_avg_score,sat_math_avg_score,sat_writing_avg_score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,268547,x234,<NA>,3
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,236446,x123,<NA>,3
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316,414951,x345,<NA>,3
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628,881396,x234,<NA>,<NA>
15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340,612918,<NA>,<NA>,<NA>

Since without the pct_students_tested the whole row does not give us relevant information, we should drop these rows

In [41]:
df_cleaned_stage4 = df_cleaned_stage3[~df_cleaned_stage3['pct_students_tested'].isna()]

In [42]:
df_cleaned_stage4.shape

(317, 10)

Same goes for 'academic_tier_rating'

In [43]:
df_cleaned_stage5 = df_cleaned_stage4[~df_cleaned_stage4['academic_tier_rating'].isna()]

In [44]:
df_cleaned_stage5

,dbn,school_name,num_of_sat_test_takers,sat_critical_reading_avg_score,sat_math_avg_score,sat_writing_avg_score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,218160,x345,78%,2
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,427826,x123,92%,4
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,672714,x123,92%,2
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525,697107,<NA>,78%,2
7,01M650,CASCADES HIGH SCHOOL,18,417,418,411,297600,<NA>,92%,4
...,...,...,...,...,...,...,...,...,...,...
464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354,695572,x234,92%,3
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347,358,350,658210,<NA>,92%,2
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359,317,358,898918,<NA>,92%,4
471,75Q811,P.S. Q811,32,429,444,433,467937,x123,78%,1
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426,544514,x234,92%,2

Now, we are at 269 rows, let's identify sat related values, which are out of range

In [45]:
df_cleaned_stage5.query('sat_critical_reading_avg_score < 200 or sat_critical_reading_avg_score > 800 or sat_math_avg_score < 200 or sat_math_avg_score > 800 or sat_writing_avg_score < 200 or sat_writing_avg_score > 800 ')

,dbn,school_name,num_of_sat_test_takers,sat_critical_reading_avg_score,sat_math_avg_score,sat_writing_avg_score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
80,03M415,WADLEIGH SECONDARY SCHOOL FOR THE PERFORMING &...,32,371,850,370,365679,<NA>,78%,4
422,28Q470,JAMAICA HIGH SCHOOL,90,342,999,353,587904,x234,92%,3
434,29Q283,PREPARATORY ACADEMY FOR WRITERS: A COLLEGE BOA...,43,370,1100,363,462173,x345,85%,3

Result, only column 'sat_math_avg_score' is affected with 3 rows, let's remove these rows

In [46]:
df_cleaned_stage6 = df_cleaned_stage5.query('not (sat_critical_reading_avg_score < 200 or sat_critical_reading_avg_score > 800 or sat_math_avg_score < 200 or sat_math_avg_score > 800 or sat_writing_avg_score < 200 or sat_writing_avg_score > 800)')

In [47]:
df_cleaned_stage6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, 0 to 476
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dbn                             266 non-null    string
 1   school_name                     266 non-null    string
 2   num_of_sat_test_takers          266 non-null    Int64
 3   sat_critical_reading_avg_score  266 non-null    Int64
 4   sat_math_avg_score              266 non-null    Int64
 5   sat_writing_avg_score           266 non-null    Int64
 6   internal_school_id              266 non-null    Int64
 7   contact_extension               214 non-null    string
 8   pct_students_tested             266 non-null    string
 9   academic_tier_rating            266 non-null    Int64
dtypes: Int64(6), string(4)
memory usage: 24.4 KB


- col 'contact_extension'

Clean column 'pct_students_tested':
- remove '%'
- convert to float and convert to percent

In [48]:
df_cleaned_stage6.loc[:, 'pct_students_tested'] = df_cleaned_stage6['pct_students_tested'].str.replace("%","")

df_cleaned_stage6.loc[:,'pct_students_tested'] = pd.to_numeric(df_cleaned_stage6['pct_students_tested'].astype(str), errors='coerce') / 100

/var/folders/w8/9sd03p8d3msgg0z4xqqw1cbr0000gn/T/ipykernel_60653/2649865181.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.78 0.92 0.92 0.78 0.92 0.78 0.78 0.92 0.78 0.78 0.78 0.92 0.92 0.85
 0.92 0.92 0.85 0.78 0.92 0.92 0.92 0.85 0.92 0.85 0.85 0.78 0.92 0.92
 0.85 0.78 0.85 0.78 0.78 0.92 0.85 0.85 0.85 0.78 0.85 0.78 0.92 0.92
 0.85 0.78 0.92 0.92 0.92 0.92 0.85 0.92 0.78 0.92 0.92 0.85 0.78 0.92
 0.92 0.78 0.92 0.78 0.78 0.85 0.85 0.92 0.92 0.78 0.78 0.92 0.92 0.78
 0.78 0.78 0.78 0.92 0.85 0.92 0.78 0.85 0.85 0.92 0.78 0.78 0.78 0.78
 0.78 0.92 0.85 0.92 0.78 0.78 0.78 0.85 0.85 0.78 0.85 0.85 0.92 0.85
 0.78 0.85 0.85 0.92 0.85 0.85 0.92 0.78 0.92 0.92 0.85 0.85 0.78 0.78
 0.78 0.78 0.78 0.85 0.92 0.78 0.78 0.78 0.85 0.85 0.92 0.85 0.85 0.85
 0.85 0.85 0.78 0.85 0.92 0.78 0.78 0.78 0.92 0.92 0.92 0.92 0.78 0.78
 0.78 0.78 0.78 0.78 0.85 0.92 0.85 0.78 0.92 0.92 0.85 0.85 0.92 0.85
 0.92 0.78 0.78 0.92 0.85 0.85 0.85 0.78 0.85 0.78 0.78 0.85 0.78 0.85
 0.78 0.92 0.85 0.78 0.85 0.85 0.92 0.78 0.85 0.85 0.92 0.78 0.85 0.78
 0.85 0.85 0.78 0.78 0.85 0.85 0.78 0.92 0.85 0.85 0.78 0.85 0.92 0.85
 0.78 0.85 0.92 0.92 0.78 0.85 0.92 0.92 0.78 0.85 0.85 0.78 0.78 0.92
 0.85 0.85 0.78 0.92 0.78 0.92 0.92 0.92 0.78 0.78 0.85 0.78 0.78 0.92
 0.78 0.78 0.78 0.85 0.85 0.78 0.85 0.78 0.78 0.78 0.92 0.85 0.78 0.92
 0.78 0.78 0.85 0.85 0.85 0.92 0.92 0.92 0.92 0.78 0.85 0.92 0.92 0.78
 0.78 0.92 0.92 0.92 0.92 0.85 0.78 0.85 0.85 0.92 0.92 0.92 0.78 0.92]' has dtype incompatible with string, please explicitly cast to a compatible dtype first.
  df_cleaned_stage6.loc[:,'pct_students_tested'] = pd.to_numeric(df_cleaned_stage6['pct_students_tested'].astype(str), errors='coerce') / 100

Check if warning had any effects on the column:

In [49]:
df_cleaned_stage6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, 0 to 476
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dbn                             266 non-null    string
 1   school_name                     266 non-null    string
 2   num_of_sat_test_takers          266 non-null    Int64
 3   sat_critical_reading_avg_score  266 non-null    Int64
 4   sat_math_avg_score              266 non-null    Int64
 5   sat_writing_avg_score           266 non-null    Int64
 6   internal_school_id              266 non-null    Int64
 7   contact_extension               214 non-null    string
 8   pct_students_tested             266 non-null    float64
 9   academic_tier_rating            266 non-null    Int64
dtypes: Int64(6), float64(1), string(3)
memory usage: 24.4 KB

Pct_students_tested looks good, finally, let's check column 'contact_extension':

In [50]:
df_cleaned_stage6['contact_extension'].value_counts()

contact_extension
x345    78
x234    70
x123    66
Name: count, dtype: Int64

'contact_extension' contains 3 distinct values and does not add value to the analysis, we'll delete this column

check analytical value of column 'academic_tier_rating'

check analytical value of column 'academic_tier_rating'

In [26]:
df_cleaned_stage6['academic_tier_rating'].value_counts()

academic_tier_rating
4    77
2    68
1    61
3    60
Name: count, dtype: Int64

'academic_tier_rating' contains 4 distinct values, we'll drop this column too

In [56]:
df_final = df_cleaned_stage6.drop(columns=['contact_extension', 'academic_tier_rating'])
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, 0 to 476
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dbn                             266 non-null    string
 1   school_name                     266 non-null    string
 2   num_of_sat_test_takers          266 non-null    Int64
 3   sat_critical_reading_avg_score  266 non-null    Int64
 4   sat_math_avg_score              266 non-null    Int64
 5   sat_writing_avg_score           266 non-null    Int64
 6   internal_school_id              266 non-null    Int64
 7   pct_students_tested             266 non-null    float64
dtypes: Int64(5), float64(1), string(2)
memory usage: 20.0 KB

### Result: Now we have a dataframe with zero missing values containing 8 columns and 266 rows

Save current dataframe to csv

In [60]:
df_final.to_csv('cleaned_sat_results.csv', index=False)

Create table on postgres db

In [58]:
host = "ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech"
port = "5432"
database = "neondb"
user = "neondb_owner"
password = "a9Am7Yy5r9_T7h4OF2GN"

# Create a connection engine
engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")

In [59]:
df_final.to_sql(
    name='michael_sat_results',       
    con=engine,     
    schema='nyc_schools',
    if_exists='replace',    
    index=False            
)

266