In [ ]:
import pandas as pd
import psycopg2

In [20]:
df = pd.read_csv('/Users/giovanigoltara/Documents/webeet/onboarding-webeet/_onboarding_data-1/daily_tasks/day_4/day_4_datasets/sat-results.csv')
df.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,SAT Critical Readng Avg. Score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,355,218160,x345,78%,2.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,383,268547,x234,NaN,3.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,377,236446,x123,NaN,3.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,414,427826,x123,92%,4.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,390,672714,x123,92%,2.0

In [21]:
#cleaning column names
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('-', '_')
df.head()

,dbn,school_name,num_of_sat_test_takers,sat_critical_reading_avg._score,sat_math_avg._score,sat_writing_avg._score,sat_critical_readng_avg._score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,355,218160,x345,78%,2.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,383,268547,x234,NaN,3.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,377,236446,x123,NaN,3.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,414,427826,x123,92%,4.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,390,672714,x123,92%,2.0

In [ ]:
# drop duplicates  
df = df.drop_duplicates()

# drop rows with 's' values
columns_to_check = [
    'num_of_sat_test_takers',
    'sat_critical_reading_avg._score',
    'sat_math_avg._score',
    'sat_writing_avg._score',
    'sat_critical_readng_avg._score'
]

# Keep rows where at least one of the specified columns does not have 's'
df = df[~(df[columns_to_check] == 's').all(axis=1)]

# Change columns to numeric, coercing errors to NaN and converting to Int64
df[columns_to_check] = df[columns_to_check].apply(pd.to_numeric, errors='coerce').astype('Int64')

# drop rows with values out of sat score range for math (200-800)
df = df[(df['sat_math_avg._score'] >= 200) & (df['sat_math_avg._score'] <= 800)]

# drop rows with values out of sat score range for critical reading (200-800)
df = df[(df['sat_critical_reading_avg._score'] >= 200) & (df['sat_critical_reading_avg._score'] <= 800)]

# drop unnecessary columns
df = df.drop(columns=['school_name', 'pct_students_tested', 'contact_extension', 'academic_tier_rating'], errors='ignore')