In [2]:
#importing libraries
import pandas as pd
import seaborn as sns  #load dataset
import numpy as np #statistical calculations
import matplotlib.pyplot as plt # for visualization

In [3]:
#loading the school safety data
df = pd.read_csv("school-safety-report1.csv")

In [4]:
# preview the first few rows of the data
df.head()

,School Year,Building Code,DBN,Location Name,Location Code,Address,Borough,Geographical District Code,Register,Building Name,...,Borough Name,Postcode,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,2015-16,K006,17K006,P.S. 006,K006,43 SNYDER AVENUE,K,17.0,712,NaN,...,BROOKLYN,11226.0,40.648590,-73.957138,14.0,40.0,794.0,3117230.0,3.051030e+09,Erasmus ...
1,2015-16,K005,16K005,P.S. 005 Dr. Ronald Mcnair,K005,820 HANCOCK STREET,K,16.0,231,NaN,...,BROOKLYN,11233.0,40.685695,-73.922463,3.0,41.0,377.0,3039906.0,3.014900e+09,Stuyvesant Heights ...
2,2015-16,K003,13K003,P.S. 003 The Bedford Village,K003,50 JEFFERSON AVENUE,K,13.0,450,NaN,...,BROOKLYN,11216.0,40.682663,-73.955338,3.0,36.0,227.0,3057406.0,3.019980e+09,Clinton Hill ...
3,2015-16,K002,NaN,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,NaN,655 PARKSIDE AVENUE,K,17.0,1378,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802.0,3378201.0,3.050500e+09,Prospect Lefferts Gardens-Wingate ...
4,2015-16,K002,75K141,P.S. K141,K141,655 PARKSIDE AVENUE,K,17.0,374,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802.0,3378201.0,3.050500e+09,Prospect Lefferts Gardens-Wingate ...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6310 entries, 0 to 6309
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   School Year                 6310 non-null   object
 1   Building Code               6310 non-null   object
 2   DBN                         5308 non-null   object
 3   Location Name               6310 non-null   object
 4   Location Code               5308 non-null   object
 5   Address                     6308 non-null   object
 6   Borough                     6308 non-null   object
 7   Geographical District Code  6304 non-null   float64
 8   Register                    6050 non-null   object
 9   Building Name               3756 non-null   object
 10  # Schools                   6310 non-null   int64
 11  Schools in Building         6310 non-null   object
 12  Major N                     3561 non-null   float64
 13  Oth N                       3561 non-null   float64
 14  NoCrim N                    3561 non-null   float64
 15  Prop N                      3561 non-null   float64
 16  Vio N                       3561 non-null   float64
 17  ENGroupA                    6076 non-null   object
 18  RangeA                      6076 non-null   object
 19  AvgOfMajor N                3553 non-null   float64
 20  AvgOfOth N                  3553 non-null   float64
 21  AvgOfNoCrim N               3553 non-null   float64
 22  AvgOfProp N                 3553 non-null   float64
 23  AvgOfVio N                  3553 non-null   float64
 24  Borough Name                6286 non-null   object
 25  Postcode                    6286 non-null   float64
 26  Latitude                    6286 non-null   float64
 27  Longitude                   6286 non-null   float64
 28  Community Board             6286 non-null   float64
 29  Council District            6286 non-null   float64
 30  Census Tract                6286 non-null   float64
 31  BIN                         6274 non-null   float64
 32  BBL                         6274 non-null   float64
 33  NTA                         6286 non-null   object
dtypes: float64(19), int64(1), object(14)
memory usage: 1.6+ MB

In [6]:
missing = df.isnull().sum()

In [9]:
missing_percentage = (missing / len(df)) * 100
print(pd.concat([missing, missing_percentage.round(2)], axis=1, keys=["Missing", "%"]))

                            Missing      %
School Year                       0   0.00
Building Code                     0   0.00
DBN                            1002  15.88
Location Name                     0   0.00
Location Code                  1002  15.88
Address                           2   0.03
Borough                           2   0.03
Geographical District Code        6   0.10
Register                        260   4.12
Building Name                  2554  40.48
# Schools                         0   0.00
Schools in Building               0   0.00
Major N                        2749  43.57
Oth N                          2749  43.57
NoCrim N                       2749  43.57
Prop N                         2749  43.57
Vio N                          2749  43.57
ENGroupA                        234   3.71
RangeA                          234   3.71
AvgOfMajor N                   2757  43.69
AvgOfOth N                     2757  43.69
AvgOfNoCrim N                  2757  43.69
AvgOfProp N                    2757  43.69
AvgOfVio N                     2757  43.69
Borough Name                     24   0.38
Postcode                         24   0.38
Latitude                         24   0.38
Longitude                        24   0.38
Community Board                  24   0.38
Council District                 24   0.38
Census Tract                     24   0.38
BIN                              36   0.57
BBL                              36   0.57
NTA                              24   0.38

In [10]:
df.shape

(6310, 34)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6310 entries, 0 to 6309
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   School Year                 6310 non-null   object
 1   Building Code               6310 non-null   object
 2   DBN                         5308 non-null   object
 3   Location Name               6310 non-null   object
 4   Location Code               5308 non-null   object
 5   Address                     6308 non-null   object
 6   Borough                     6308 non-null   object
 7   Geographical District Code  6304 non-null   float64
 8   Register                    6050 non-null   object
 9   Building Name               3756 non-null   object
 10  # Schools                   6310 non-null   int64
 11  Schools in Building         6310 non-null   object
 12  Major N                     3561 non-null   float64
 13  Oth N                       3561 non-null   float64
 14  NoCrim N                    3561 non-null   float64
 15  Prop N                      3561 non-null   float64
 16  Vio N                       3561 non-null   float64
 17  ENGroupA                    6076 non-null   object
 18  RangeA                      6076 non-null   object
 19  AvgOfMajor N                3553 non-null   float64
 20  AvgOfOth N                  3553 non-null   float64
 21  AvgOfNoCrim N               3553 non-null   float64
 22  AvgOfProp N                 3553 non-null   float64
 23  AvgOfVio N                  3553 non-null   float64
 24  Borough Name                6286 non-null   object
 25  Postcode                    6286 non-null   float64
 26  Latitude                    6286 non-null   float64
 27  Longitude                   6286 non-null   float64
 28  Community Board             6286 non-null   float64
 29  Council District            6286 non-null   float64
 30  Census Tract                6286 non-null   float64
 31  BIN                         6274 non-null   float64
 32  BBL                         6274 non-null   float64
 33  NTA                         6286 non-null   object
dtypes: float64(19), int64(1), object(14)
memory usage: 1.6+ MB

## Asignment Day-1

In [ ]:
# fixing numerical values with 0
incident_cols = ['major_n', 'oth_n', 'nocrim_n', 'prop_n', 'vio_n']
df[incident_cols] = df[incident_cols].fillna(0)

In [12]:
# rows and columns overview
df.shape

(6310, 34)

In [13]:
## To the assignment

# Cleaning the data
# Clean column names
df.columns = (
    df.columns.str.lower()                                   # Make lowercase
              .str.replace(r'[^a-z0-9\s_]', '', regex=True)  # Remove special characters
              .str.replace(r'\s+', '_', regex=True)          # Replace spaces with underscores
)

In [ ]:
df.head()

,school_year,building_code,dbn,location_name,location_code,address,borough,geographical_district_code,register,building_name,...,postcode,latitude,longitude,community_board,council_district_,census_tract,bin,bbl,nta,total_incidents
0,2015-16,K006,17K006,P.S. 006,K006,43 SNYDER AVENUE,K,17.0,712,NaN,...,11226.0,40.648590,-73.957138,14.0,40.0,794.0,3117230.0,3.051030e+09,Erasmus ...,4.0
1,2015-16,K005,16K005,P.S. 005 Dr. Ronald Mcnair,K005,820 HANCOCK STREET,K,16.0,231,NaN,...,11233.0,40.685695,-73.922463,3.0,41.0,377.0,3039906.0,3.014900e+09,Stuyvesant Heights ...,2.0
2,2015-16,K003,13K003,P.S. 003 The Bedford Village,K003,50 JEFFERSON AVENUE,K,13.0,450,NaN,...,11216.0,40.682663,-73.955338,3.0,36.0,227.0,3057406.0,3.019980e+09,Clinton Hill ...,2.0
3,2015-16,K002,NaN,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,NaN,655 PARKSIDE AVENUE,K,17.0,1378,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,11226.0,40.656183,-73.951583,9.0,40.0,802.0,3378201.0,3.050500e+09,Prospect Lefferts Gardens-Wingate ...,5.0
4,2015-16,K002,75K141,P.S. K141,K141,655 PARKSIDE AVENUE,K,17.0,374,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,11226.0,40.656183,-73.951583,9.0,40.0,802.0,3378201.0,3.050500e+09,Prospect Lefferts Gardens-Wingate ...,0.0

In [14]:
#data exploration
##Total number of rows
total_rows = len(df)
print(f"Total rows: {total_rows}")

Total rows: 6310

In [15]:
# number of unique school in the dataset
unique_schools = df['dbn'].dropna().nunique()
print(f"Unique schools: {unique_schools}")

Unique schools: 1931

In [16]:
## most frequent incident type
incident_sums = {
    'major': df['major_n'].sum(),
    'other': df['oth_n'].sum(),
    'non_criminal': df['nocrim_n'].sum(),
    'property': df['prop_n'].sum(),
    'violent': df['vio_n'].sum()
}

most_common = max(incident_sums, key=incident_sums.get)
print("Most frequent incident type:", most_common)

Most frequent incident type: non_criminal

In [17]:
df['register'] = pd.to_numeric(df['register'], errors='coerce')

In [18]:
df['register'] = df['register'].fillna(0)

In [20]:
incident_cols = ['major_n', 'oth_n', 'nocrim_n', 'prop_n', 'vio_n']
df[incident_cols] = df[incident_cols].fillna(0)

In [21]:
df['total_incidents'] = df[incident_cols].sum(axis=1)

In [22]:

# Total incidents overall
total_incidents = df['total_incidents'].sum()

In [23]:
# Total incidents in the Bronx
bronx_incidents = df[df['borough_name'] == 'BRONX']['total_incidents'].sum()
bronx_incidents

np.float64(0.0)

In [24]:
df['borough_name'] = df['borough_name'].str.strip().str.upper()

In [25]:
# Percentage calculation
bronx_count = df[df['borough_name'].str.upper() == 'BRONX'].shape[0]
percent_bronx = (bronx_count / total_rows) * 100
print(f"% of incidents in the Bronx: {percent_bronx:.2f}%")

% of incidents in the Bronx: 24.58%

In [26]:
df.to_csv("cleaned_school_safety.csv", index=False)

In [27]:
# some important findings;

# school with high incident
top_schools = df[['location_name', 'dbn', 'total_incidents']].sort_values(by='total_incidents', ascending=False).head(5)
print(top_schools)

                                          location_name  dbn  total_incidents
97         800 EAST GUN HILL ROAD CONSOLIDATED LOCATION  NaN            130.0
4055       800 EAST GUN HILL ROAD CONSOLIDATED LOCATION  NaN            128.0
4623  100 WEST MOSHOLU PARKWAY SOUTH CONSOLIDATED LO...  NaN            126.0
1532             850 GRAND STREET CONSOLIDATED LOCATION  NaN            122.0
4280       99 TERRACE VIEW AVENUE CONSOLIDATED LOCATION  NaN            117.0

In [28]:
# location with high student register but low incident

low_incidents = df[(df['register'] > 500) & (df['total_incidents'] == 0)][['location_name', 'register', 'total_incidents']]
print(low_incidents)

                                      location_name  register  total_incidents
5                        EXPLORE CHARTER SCHOOL(BS)     529.0              0.0
10                           P.S. 095 The Gravesend     932.0              0.0
19                 Health Opportunities High School     554.0              0.0
24                              P.S. 246 Poe Center     704.0              0.0
26          The Vida Bogart School for All Children     516.0              0.0
...                                             ...       ...              ...
6275  East New York Elementary School of Excellence     556.0              0.0
6279               P.S. 69 Vincent D. Grippo School     867.0              0.0
6284                                        P.S. 66     777.0              0.0
6291                           P.S. 058 The Carroll     944.0              0.0
6296             Juan Morel Campos Secondary School     778.0              0.0

[1106 rows x 3 columns]

# DAY 2: High-School- Directory

In [ ]:
# Bronx alone contributes a significantly high percentage of total incidents across NYC schools which may be due to
# Higher population density in certain Bronx schools


# About 40% Schools Have No Recorded Building Name which may  lead to difficulties in understanding incidents clustering by building